#gallery {
  text-align: center;
  margin: 0;
  padding: 0; }
  #gallery h1 {
    margin: 0 auto;
    padding: 0;
    color: #454a4c;
    font-family: 'Oswald';
    font-size: 4vw;
    text-transform: uppercase; }
  #gallery .slider_gallery {
    height: 55vw;
    width: 100%;
    position: relative;
    overflow: auto; }
    #gallery .slider_gallery .slider_outer {
      height: 55vw;
      width: 100%;
      position: relative;
      overflow: auto; }
      #gallery .slider_gallery .slider_outer .slider_inner {
        height: 55vw;
        width: 100%;
        position: relative;
        overflow: hidden; }
        #gallery .slider_gallery .slider_outer .slider_inner img {
          display: none;
          height: 100%;
          width: 100%;
          overflow: hidden; }
        #gallery .slider_gallery .slider_outer .slider_inner .active {
          display: inline-block; }
      #gallery .slider_gallery .slider_outer i {
        position: absolute;
        font-size: 3.5vw;
        color: #fff;
        z-index: 100;
        cursor: pointer; }
      #gallery .slider_gallery .slider_outer #button_previous {
        left: 7.5vw;
        top: 22.5vw; }
      #gallery .slider_gallery .slider_outer #button_next {
        right: 7.5vw;
        top: 22.5vw; }

@media only screen and (max-width: 500px) {
  #gallery .slider_gallery .slider_outer i {
    font-size: 10vw; }
  #gallery .slider_gallery .slider_outer #button_previous {
    left: 8.5vw;
    top: 20vw; }
  #gallery .slider_gallery .slider_outer #button_next {
    right: 8.5vw;
    top: 20vw; } }
