header {
  display: flex;
  flex-direction: column; }
  header .header_row1 {
    display: flex;
    flex-direction: row; }
    header .header_row1 .row1_column1 {
      width: 50vw;
      margin-left: 13vw; }
      header .header_row1 .row1_column1 img {
        height: 125px;
        padding-top: 10px; }
  header .row1_column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50vw;
    margin-right: 13vw; }
    header .row1_column2 .registerlogin {
      padding-bottom: 20px; }
      header .row1_column2 .registerlogin button {
        margin: 0;
        padding: 10px;
        background-color: white;
        border: none;
        color: #ff8454;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        outline: none; }
    header .row1_column2 .search {
      background-color: #f2f3f4; }
      header .row1_column2 .search input {
        padding: 10px 7.5vw 10px 20px;
        background-color: #f2f3f4;
        border: none;
        color: gray;
        font-family: 'Oswald', sans-serif;
        font-size: 17.5px;
        font-weight: 300;
        outline: none; }
      header .row1_column2 .search button {
        padding: 14px;
        background-color: #f2f3f4;
        border: none; }
        header .row1_column2 .search button .fa {
          font-size: 20px;
          color: #454a4c; }
  header .header_row2 nav {
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    header .header_row2 nav ul {
      width: 72.5vw;
      padding: 0;
      margin: 0 auto;
      font-family: 'Oswald', sans-serif;
      color: #454a4c;
      font-size: 17.5px;
      display: flex;
      flex-direction: row;
      list-style-position: inside;
      list-style: none; }
      header .header_row2 nav ul li {
        width: 15%;
        padding: 1.25vw 0;
        border-bottom: 0.05vw solid #f2f3f4; }
      header .header_row2 nav ul li:hover {
        color: white; }
      header .header_row2 nav ul .home, header .header_row2 nav ul .news {
        position: relative;
        border-top: 5px solid #80c3d2;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .home:before, header .header_row2 nav ul .news:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #80c3d2;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .home:hover:before, header .header_row2 nav ul .news:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      header .header_row2 nav ul .about, header .header_row2 nav ul .blog {
        position: relative;
        border-top: 5px solid #ff8454;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .about:before, header .header_row2 nav ul .blog:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #ff8454;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .about:hover:before, header .header_row2 nav ul .blog:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      header .header_row2 nav ul .staff, header .header_row2 nav ul .gallery {
        position: relative;
        border-top: 5px solid #f0cd3a;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .staff:before, header .header_row2 nav ul .gallery:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #f0cd3a;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .staff:hover:before, header .header_row2 nav ul .gallery:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      header .header_row2 nav ul .services, header .header_row2 nav ul .contacts {
        position: relative;
        border-top: 5px solid #88c87b;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .services:before, header .header_row2 nav ul .contacts:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #88c87b;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .services:hover:before, header .header_row2 nav ul .contacts:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
