header {
  display: flex;
  flex-direction: column; }
  header .header_row1 {
    display: flex;
    flex-direction: row; }
    header .header_row1 .row1_column1 {
      width: 50vw;
      margin-left: 13vw; }
      header .header_row1 .row1_column1 img {
        height: 125px;
        padding-top: 10px; }
  header .row1_column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50vw;
    margin-right: 13vw; }
    header .row1_column2 .registerlogin {
      padding-bottom: 20px; }
      header .row1_column2 .registerlogin button {
        margin: 0;
        padding: 10px;
        background-color: white;
        border: none;
        color: #ff8454;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        outline: none; }
    header .row1_column2 .search {
      background-color: #f2f3f4; }
      header .row1_column2 .search input {
        padding: 10px 7.5vw 10px 20px;
        background-color: #f2f3f4;
        border: none;
        color: gray;
        font-family: 'Oswald', sans-serif;
        font-size: 17.5px;
        font-weight: 300;
        outline: none; }
      header .row1_column2 .search button {
        padding: 14px;
        background-color: #f2f3f4;
        border: none; }
        header .row1_column2 .search button .fa {
          font-size: 20px;
          color: #454a4c; }
  header .header_row2 nav {
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    header .header_row2 nav ul {
      width: 72.5vw;
      padding: 0;
      margin: 0 auto;
      font-family: 'Oswald', sans-serif;
      color: #454a4c;
      font-size: 17.5px;
      display: flex;
      flex-direction: row;
      list-style-position: inside;
      list-style: none; }
      header .header_row2 nav ul li {
        width: 15%;
        padding: 1.25vw 0;
        border-bottom: 0.05vw solid #f2f3f4; }
      header .header_row2 nav ul li:hover {
        color: white; }
      header .header_row2 nav ul .home, header .header_row2 nav ul .news {
        position: relative;
        border-top: 5px solid #80c3d2;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .home:before, header .header_row2 nav ul .news:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #80c3d2;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .home:hover:before, header .header_row2 nav ul .news:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      header .header_row2 nav ul .about, header .header_row2 nav ul .blog {
        position: relative;
        border-top: 5px solid #ff8454;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .about:before, header .header_row2 nav ul .blog:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #ff8454;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .about:hover:before, header .header_row2 nav ul .blog:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      header .header_row2 nav ul .staff, header .header_row2 nav ul .gallery {
        position: relative;
        border-top: 5px solid #f0cd3a;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .staff:before, header .header_row2 nav ul .gallery:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #f0cd3a;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .staff:hover:before, header .header_row2 nav ul .gallery:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      header .header_row2 nav ul .services, header .header_row2 nav ul .contacts {
        position: relative;
        border-top: 5px solid #88c87b;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        header .header_row2 nav ul .services:before, header .header_row2 nav ul .contacts:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #88c87b;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
        header .header_row2 nav ul .services:hover:before, header .header_row2 nav ul .contacts:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }

.hero {
  margin: 0;
  padding: 0;
  height: 50vw;
  width: 100vw;
  margin-top: 20px;
  background-image: url("/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.founder {
  position: absolute;
  top: 0;
  left: 11.5vw;
  background-color: #80c3d2; }
  .founder h2 {
    display: block; }
  .founder #founder_button_open {
    display: none; }
  .founder #founder_button_close {
    display: none; }
  .founder p {
    display: none;
    opacity: 0; }

.founder_hover h2 {
  display: none; }

.founder_hover #founder_button_open {
  display: block; }

.founder_disabled h2 {
  display: none; }

.founder_disabled #founder_button_open {
  display: none; }

.founder_disabled #founder_button_close {
  display: block; }

.founder_disabled p {
  display: block; }

.philosophy {
  position: absolute;
  top: 0;
  left: 31vw;
  background-color: #ff8454; }
  .philosophy h2 {
    display: inline-block; }
  .philosophy #philosophy_button_open {
    display: none; }
  .philosophy #philosophy_button_close {
    display: none; }
  .philosophy p {
    display: none;
    opacity: 0; }

.philosophy_hover h2 {
  display: none;
  margin-left: -10vw; }

.philosophy_hover #philosophy_button_open {
  display: block; }

.philosophy_disabled {
  text-align: left;
  left: 11.5vw; }
  .philosophy_disabled h2 {
    display: none; }
  .philosophy_disabled #philosophy_button_open {
    display: none; }
  .philosophy_disabled #philosophy_button_close {
    display: block; }

.vision {
  background-color: #f0cd3a;
  position: absolute;
  top: 0;
  left: 50.5vw; }
  .vision h2 {
    display: block; }
  .vision #vision_button_open {
    display: none; }
  .vision #vision_button_close {
    display: none; }
  .vision p {
    display: none;
    opacity: 0; }

.vision_hover h2 {
  display: none; }

.vision_hover #vision_button_open {
  display: block; }

.vision_disabled {
  text-align: left;
  left: 11.5vw; }
  .vision_disabled h2 {
    display: none; }
  .vision_disabled #vision_button_open {
    display: none; }
  .vision_disabled #vision_button_close {
    display: block; }
  .vision_disabled p {
    display: block; }

.testimonies {
  background-color: #88c87b;
  position: absolute;
  top: 0;
  left: 70vw; }
  .testimonies h2 {
    display: block; }
  .testimonies #testimonies_button_open {
    display: none; }
  .testimonies #testimonies_button_close {
    display: none; }
  .testimonies p {
    display: none;
    opacity: 0; }

.testimonies_hover h2 {
  display: none; }

.testimonies_hover #testimonies_button_open {
  display: block; }

.testimonies_disabled {
  text-align: left;
  left: 1.5vw; }
  .testimonies_disabled h2 {
    display: none; }
  .testimonies_disabled #testimonies_button_open {
    display: none; }
  .testimonies_disabled #testimonies_button_close {
    display: block; }

.aboutus {
  height: 350px;
  margin: 0;
  padding: 5px 0 70px 0;
  background-color: #f2f3f4;
  text-align: center; }
  .aboutus .aboutus_heading {
    height: 75px;
    color: #454a4c;
    font-family: 'Oswald';
    font-size: 50px;
    text-transform: uppercase;
    margin: 0; }
    .aboutus .aboutus_heading span {
      font-family: 'Kalam';
      color: #80c3d2;
      text-transform: none; }
  .aboutus .aboutus_grid {
    position: relative; }
    .aboutus .aboutus_grid div {
      height: 17vw;
      width: 17vw;
      margin: 1vw; }
      .aboutus .aboutus_grid div h2 {
        margin: 0;
        padding: 0;
        margin: 6.5vw 0;
        color: white;
        font-family: 'Oswald';
        font-size: 2.5vw;
        text-transform: uppercase; }
      .aboutus .aboutus_grid div i {
        position: absolute;
        left: 11vw;
        top: 7vw;
        display: none;
        font-size: 3.5vw;
        color: #ffff; }
      .aboutus .aboutus_grid div p {
        color: #ffff;
        font-family: 'Roboto';
        font-size: 1.25vw;
        width: 51vw;
        margin: 6vw 0 0 19.5vw; }

#staff {
  height: 100vw;
  text-align: center;
  position: relative; }
  #staff .staff_heading {
    height: 75px;
    color: #454a4c;
    font-family: 'Oswald';
    font-size: 50px;
    text-transform: uppercase;
    margin: 0; }
  #staff .staff_header {
    position: relative;
    margin-top: 1vw; }
    #staff .staff_header .staff_header_orange {
      margin: 0 auto;
      height: 30vw;
      width: 30vw;
      background-color: #ff8454;
      transform: rotate(80deg); }
    #staff .staff_header #staff_header {
      position: absolute;
      top: 4vw;
      left: 25vw;
      height: 25vw;
      width: 50vw; }
  #staff .profiles {
    position: relative; }
    #staff .profiles img {
      position: absolute;
      height: 10vw;
      width: 7.5vw; }
    #staff .profiles p {
      opacity: 0;
      font-family: 'Roboto';
      font-size: 1.25vw;
      width: 40vw; }
    #staff .profiles .background_yellow {
      position: absolute;
      left: 17.5vw;
      top: 4vw;
      transition-duration: 0.5s;
      transform: rotate(-40deg);
      height: 15vw;
      width: 15vw;
      background: #f0cd3a; }
    #staff .profiles .attention1 {
      animation-name: attention;
      animation-duration: 4s;
      animation-iteration-count: infinite; }

@keyframes attention {
  0% {
    width: 15vw;
    height: 15vw; }
  25% {
    width: 13.5vw;
    height: 13.5vw; }
  50% {
    width: 15vw;
    height: 15vw; }
  52% {
    width: 15vw;
    height: 15vw; }
  54% {
    width: 15vw;
    height: 15vw; }
  56% {
    width: 15vw;
    height: 15vw; }
  58% {
    width: 15vw;
    height: 15vw; }
  60% {
    width: 15vw;
    height: 15vw; }
  62% {
    width: 15vw;
    height: 15vw; }
  64% {
    width: 15vw;
    height: 15vw; }
  66% {
    width: 15vw;
    height: 15vw; }
  68% {
    width: 15vw;
    height: 15vw; }
  70% {
    width: 15vw;
    height: 15vw; }
  72% {
    width: 15vw;
    height: 15vw; }
  74% {
    width: 15vw;
    height: 15vw; }
  76% {
    width: 15vw;
    height: 15vw; }
  78% {
    width: 15vw;
    height: 15vw; }
  80% {
    width: 15vw;
    height: 15vw; }
  82% {
    width: 15vw;
    height: 15vw; }
  84% {
    width: 15vw;
    height: 15vw; }
  86% {
    width: 15vw;
    height: 15vw; }
  88% {
    width: 15vw;
    height: 15vw; }
  90% {
    width: 15vw;
    height: 15vw; }
  92% {
    width: 15vw;
    height: 15vw; }
  94% {
    width: 15vw;
    height: 15vw; }
  96% {
    width: 15vw;
    height: 15vw; }
  98% {
    width: 15vw;
    height: 15vw; }
  100% {
    width: 15vw;
    height: 15vw; } }
    #staff .profiles .profile1 {
      z-index: -1;
      display: none;
      position: absolute;
      top: 6.5vw;
      height: 10vw;
      width: 50vw; }
      #staff .profiles .profile1 p {
        color: #f0cd3a;
        margin: 2vw 0 0 40vw; }
    #staff .profiles .background_green {
      position: absolute;
      left: 10vw;
      top: 22.5vw;
      transition-duration: 0.5s;
      transform: rotate(10deg);
      height: 15vw;
      width: 15vw;
      background: #88c87b; }
    #staff .profiles .attention2 {
      animation-name: attention;
      animation-duration: 4s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite; }

@keyframes attention {
  0% {
    width: 15vw;
    height: 15vw; }
  25% {
    width: 13.5vw;
    height: 13.5vw; }
  50% {
    width: 15vw;
    height: 15vw; }
  52% {
    width: 15vw;
    height: 15vw; }
  54% {
    width: 15vw;
    height: 15vw; }
  56% {
    width: 15vw;
    height: 15vw; }
  58% {
    width: 15vw;
    height: 15vw; }
  60% {
    width: 15vw;
    height: 15vw; }
  62% {
    width: 15vw;
    height: 15vw; }
  64% {
    width: 15vw;
    height: 15vw; }
  66% {
    width: 15vw;
    height: 15vw; }
  68% {
    width: 15vw;
    height: 15vw; }
  70% {
    width: 15vw;
    height: 15vw; }
  72% {
    width: 15vw;
    height: 15vw; }
  74% {
    width: 15vw;
    height: 15vw; }
  76% {
    width: 15vw;
    height: 15vw; }
  78% {
    width: 15vw;
    height: 15vw; }
  80% {
    width: 15vw;
    height: 15vw; }
  82% {
    width: 15vw;
    height: 15vw; }
  84% {
    width: 15vw;
    height: 15vw; }
  86% {
    width: 15vw;
    height: 15vw; }
  88% {
    width: 15vw;
    height: 15vw; }
  90% {
    width: 15vw;
    height: 15vw; }
  92% {
    width: 15vw;
    height: 15vw; }
  94% {
    width: 15vw;
    height: 15vw; }
  96% {
    width: 15vw;
    height: 15vw; }
  98% {
    width: 15vw;
    height: 15vw; }
  100% {
    width: 15vw;
    height: 15vw; } }
    #staff .profiles .profile2 {
      z-index: -1;
      display: none;
      position: absolute;
      top: 25vw;
      height: 10vw;
      width: 50vw; }
      #staff .profiles .profile2 p {
        color: #88c87b;
        margin: 2vw 0 0 32.8vw; }
    #staff .profiles .background_blue {
      position: absolute;
      left: 15vw;
      top: 41.5vw;
      transition-duration: 0.5s;
      transform: rotate(-30deg);
      height: 15vw;
      width: 15vw;
      background: #80c3d2; }
    #staff .profiles .attention3 {
      animation-name: attention;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-iteration-count: infinite; }

@keyframes attention {
  0% {
    width: 15vw;
    height: 15vw; }
  25% {
    width: 13.5vw;
    height: 13.5vw; }
  50% {
    width: 15vw;
    height: 15vw; }
  52% {
    width: 15vw;
    height: 15vw; }
  54% {
    width: 15vw;
    height: 15vw; }
  56% {
    width: 15vw;
    height: 15vw; }
  58% {
    width: 15vw;
    height: 15vw; }
  60% {
    width: 15vw;
    height: 15vw; }
  62% {
    width: 15vw;
    height: 15vw; }
  64% {
    width: 15vw;
    height: 15vw; }
  66% {
    width: 15vw;
    height: 15vw; }
  68% {
    width: 15vw;
    height: 15vw; }
  70% {
    width: 15vw;
    height: 15vw; }
  72% {
    width: 15vw;
    height: 15vw; }
  74% {
    width: 15vw;
    height: 15vw; }
  76% {
    width: 15vw;
    height: 15vw; }
  78% {
    width: 15vw;
    height: 15vw; }
  80% {
    width: 15vw;
    height: 15vw; }
  82% {
    width: 15vw;
    height: 15vw; }
  84% {
    width: 15vw;
    height: 15vw; }
  86% {
    width: 15vw;
    height: 15vw; }
  88% {
    width: 15vw;
    height: 15vw; }
  90% {
    width: 15vw;
    height: 15vw; }
  92% {
    width: 15vw;
    height: 15vw; }
  94% {
    width: 15vw;
    height: 15vw; }
  96% {
    width: 15vw;
    height: 15vw; }
  98% {
    width: 15vw;
    height: 15vw; }
  100% {
    width: 15vw;
    height: 15vw; } }
    #staff .profiles .profile3 {
      z-index: -1;
      display: none;
      position: absolute;
      top: 44vw;
      height: 12.5vw;
      width: 50vw; }
      #staff .profiles .profile3 p {
        color: #80c3d2;
        margin: 2vw 0 0 38.5vw; }

#services {
  height: 95vw;
  text-align: center;
  margin: 0;
  background-color: #f2f3f4;
  position: relative; }
  #services h1 {
    height: 75px;
    margin: 0;
    color: #454a4c;
    font-family: 'Oswald';
    font-size: 50px;
    text-transform: uppercase; }
  #services h2 {
    color: #ffff;
    font-family: 'Oswald';
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    margin: 1vw 0 0 0; }
  #services p {
    color: #ffff;
    font-family: 'Roboto';
    font-size: 1.25vw;
    padding: 0 2.5vw; }
  #services .background {
    height: 85vw;
    background-image: url("/img/services_background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #services .service1 {
    position: absolute;
    left: 5vw;
    top: 10vw;
    height: 14vw;
    width: 45vw;
    background-color: #f0cd3a; }
  #services .service2 {
    position: absolute;
    right: 5vw;
    top: 30vw;
    height: 14vw;
    width: 45vw;
    background-color: #88c87b; }
  #services .service3 {
    position: absolute;
    left: 5vw;
    top: 50vw;
    height: 14vw;
    width: 45vw;
    background-color: #ff8454; }
  #services .service4 {
    position: absolute;
    right: 5vw;
    top: 70vw;
    height: 14vw;
    width: 45vw;
    background-color: #80c3d2; }

#news {
  height: 35vw;
  text-align: center;
  margin: 0;
  background-color: #ffff;
  position: relative; }
  #news h1 {
    height: 75px;
    margin: 0;
    color: #454a4c;
    font-family: 'Oswald';
    font-size: 50px;
    text-transform: uppercase; }
  #news .container {
    background-color: #88c87b;
    height: 35vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #news .container .slider {
      width: 1200px;
      margin: 20px auto;
      text-align: center;
      padding: 20px; }
      #news .container .slider .slide {
        padding: 15px; }
        #news .container .slider .slide .bubble {
          height: 17.5vw;
          margin: 0;
          padding: 0;
          background-image: url("/img/bubble.png");
          background-repeat: no-repeat;
          background-size: contain;
          overflow-wrap: break-word; }
        #news .container .slider .slide .profile {
          height: 5vw;
          width: 5vw;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover; }
        #news .container .slider .slide p {
          margin: 0;
          padding: 4vw 3vw 4vw 3vw;
          line-height: 1.8vw;
          font-family: 'Roboto';
          color: black; }
        #news .container .slider .slide span {
          font-size: 2vw;
          font-weight: bold;
          color: orange; }
        #news .container .slider .slide .p1 {
          background-image: url("/img/profile_1.jpg"); }
        #news .container .slider .slide .p2 {
          background-image: url("/img/profile_2.jpg"); }
        #news .container .slider .slide .p3 {
          background-image: url("/img/profile_3.jpg"); }
      #news .container .slider .fa {
        color: white;
        font-size: 3vw; }

body {
  margin: 0;
  padding: 0; }
