#services {
  height: 95vw;
  margin: 0;
  padding: 0 0 1.5vw 0;
  text-align: center;
  background-color: #f2f3f4;
  position: relative; }
  #services h1 {
    margin: 0 auto;
    padding: 0;
    color: #454a4c;
    font-family: 'Oswald';
    font-size: 4vw;
    text-transform: uppercase; }
  #services h2 {
    color: #ffff;
    font-family: 'Oswald';
    font-size: 3vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    margin: 1vw 0 0 0; }
  #services p {
    margin: 0;
    padding: 0 2vw;
    color: #ffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2vw; }
  #services .background {
    height: 85vw;
    background-image: url("../img/services_backgroundV.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #services .service1 {
    position: absolute;
    left: 10vw;
    top: 10vw;
    height: 16.75vw;
    width: 55vw;
    background-color: #f0cd3a; }
  #services .service2 {
    position: absolute;
    right: 10vw;
    top: 30vw;
    height: 16.75vw;
    width: 55vw;
    background-color: #88c87b; }
  #services .service3 {
    position: absolute;
    left: 10vw;
    top: 50vw;
    height: 16.75vw;
    width: 55vw;
    background-color: #ff8454; }
  #services .service4 {
    position: absolute;
    right: 10vw;
    top: 70vw;
    height: 16.75vw;
    width: 55vw;
    background-color: #80c3d2; }

@media only screen and (max-width: 500px) {
  #services {
    height: 120vw; }
    #services h2 {
      font-size: 4vw; }
    #services p {
      font-size: 3vw; }
    #services .background {
      height: 115vw;
      background-image: url("../img/services_backgroundV.jpg");
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    #services .service1 {
      height: 23vw;
      width: 80vw; }
    #services .service2 {
      height: 23vw;
      width: 80vw;
      left: 10vw;
      top: 37.5vw; }
    #services .service3 {
      height: 23vw;
      width: 80vw;
      left: 10vw;
      top: 65vw; }
    #services .service4 {
      height: 23vw;
      width: 80vw;
      left: 10vw;
      top: 92.5vw; } }
