#services {
  height: 95vw;
  text-align: center;
  margin: 0;
  background-color: #f2f3f4;
  position: relative; }
  #services h1 {
    height: 75px;
    margin: 0;
    color: #454a4c;
    font-family: 'Oswald';
    font-size: 50px;
    text-transform: uppercase; }
  #services h2 {
    color: #ffff;
    font-family: 'Oswald';
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    margin: 1vw 0 0 0; }
  #services p {
    color: #ffff;
    font-family: 'Roboto';
    font-size: 1.25vw;
    padding: 0 2.5vw; }
  #services .background {
    height: 85vw;
    background-image: url("/img/services_background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #services .service1 {
    position: absolute;
    left: 5vw;
    top: 10vw;
    height: 14vw;
    width: 45vw;
    background-color: #f0cd3a; }
  #services .service2 {
    position: absolute;
    right: 5vw;
    top: 30vw;
    height: 14vw;
    width: 45vw;
    background-color: #88c87b; }
  #services .service3 {
    position: absolute;
    left: 5vw;
    top: 50vw;
    height: 14vw;
    width: 45vw;
    background-color: #ff8454; }
  #services .service4 {
    position: absolute;
    right: 5vw;
    top: 70vw;
    height: 14vw;
    width: 45vw;
    background-color: #80c3d2; }
