$color-blue: #80c3d2;
$color-orange: #ff8454;
$color-green: #88c87b;
$color-yellow: #f0cd3a;
$color-black: #454a4c;
$color-gray: #f2f3f4;

// #blog{
//   height: 75vw;
//   text-align: center;
//   margin: 0;
//   padding: 0;
//   background-color: $color-gray;
//
//   h1{
//     height: 75px;
//     margin: 0;
//     color: $color-black;
//     font-family: 'Oswald';
//     font-size: 50px;
//     text-transform: uppercase;
//   }
//
//   .container{
//     display: flex;
//     flex-direction: column;
//     width: 80vw;
//     margin: auto;
//     padding: 0;
//
//     .row{
//       display: flex;
//       flex-direction: row;
//     }
//
//     .article{
//       width: 25vw;
//       height: 25vw;
//       margin: 2vw;
//       background-size: cover;
//     }
//
//     span{
//       height: 10vw;
//       background-color: white;
//     }
//
//     .article1{
//       background-image: url('/img/article_1.jpg');
//     }
//     .article2{
//       background-image: url('/img/article_2.jpg');
//     }
//     .article3{
//       background-image: url('/img/article_3.jpg');
//     }
//     .article4{
//       background-image: url('/img/article_4.jpg');
//     }
//     .article5{
//       background-image: url('/img/article_5.jpg');
//     }
//     .article6{
//       background-image: url('/img/article_6.jpg');
//     }
//   }
// }
