$color-blue: #80c3d2;
$color-orange: #ff8454;
$color-green: #88c87b;
$color-yellow: #f0cd3a;
$color-black: #454a4c;
$color-gray: #f2f3f4;

#contact{
  background-color: $color-black;
  margin: 0;
  padding: 0 0 2.5vw 0;
  text-align: center;

  h2{
    color: #ffff;
    font-family: 'Oswald';
    font-size: 3.25vw;
    letter-spacing: 0.1vw;
    margin: 0 auto;
    padding: 2.5vw 0;

    span{
      font-family: 'Kalam';
    }
    .span1{
      color: $color-blue;
    }
    .span2{
      color: $color-orange;
    }
    .span3{
      color: $color-yellow;
    }
    .span4{
      color: $color-green;
    }
  }

  .container{
    height: 30vw;
    width: 65vw;
    margin: 0 auto;
    padding: 0 0 5vw 0;
    display: flex;
    flex-direction: row;
    color: #fff;

    .col{
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    .details{
      height: 80%;
      float: left;
      font-family: 'PT Sans Narrow';
      font-size: 2vw;
      letter-spacing: 0.07vw;

      .row{
        height: 20%;
        display: inline-flex;
        text-align: left;

        i{
          font-size: 3vw;
          color: $color-orange;
          padding: 0 1vw;
        }
        .fa-phone{
          padding-left: 1.25vw;
        }
        .fa-map-marker{
          padding-left: 1.6vw;
        }
        .fa-facebook-square{
          padding-left: 14vw;
          cursor: pointer;
        }
        .fa-twitter-square{
          cursor: pointer;
        }
        .fa-instagram{
          cursor: pointer;
        }

        p{
          margin: 0;
          padding: 0;
        }
      }
    }

    .form{
      height: 100%;
      justify-content: space-between;

      input{
        height: 10%;
        width: 100%;
        margin: auto;
        color: #7A7B7C;
        background-color: #515759;
        border: none;
        font-family: 'PT Sans Narrow';
        font-size: 2vw;
        letter-spacing: 0.07vw;
      }
      .form_message{
        height: 40%;
        width: 100%;
        margin: auto;
      }

      button{
        height: 15%;
        width: 20%;
        margin: auto 0;
        padding: 0.5vw 0;
        color: #fff;
        background-color: $color-blue;
        border: none;
        font-family: 'PT Sans Narrow';
        font-size: 2vw;
        letter-spacing: 0.07vw;
        cursor: pointer;
        textarea, input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox{
          -webkit-appearance: none;
          border-radius: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px){
  #contact{

    h2{
      font-size: 3.5vw;
    }

    .container{
      height: 40vw;
      width: 90vw;
      margin: 0 auto;

      .details{
        height: 90%;
        font-size: 4vw;
        letter-spacing: 0.1vw;
        .row{
          i{
            font-size: 5vw;
          }
        }
        .address{
          height: 30%;
        }
      }

      .form{
        input{
          font-size: 4vw;
          letter-spacing: 0.1vw;
        }

        button{
          height: 20%;
          width: 30%;
          font-size: 4vw;
          letter-spacing: 0.1vw;
        }
      }
    }
  }
}
