$color-blue: #80c3d2;
$color-orange: #ff8454;
$color-green: #88c87b;
$color-yellow: #f0cd3a;

.header_row1{
  display: flex;
  flex-direction: row;

  .row1_column1{
    width: 50vw;
    margin-left: 13vw;

    img{
      height: 125px;
      padding-top: 10px;
    }
  }
}

.row1_column2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50vw;
  margin-right: 13vw;

  .registerlogin{
    padding-bottom: 20px;
    button{
      margin: 0;
      padding: 10px;
      background-color: white;
      border: none;
      color: $color-orange;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
      outline: none;
    }
  }

  .search{
    background-color: #f2f3f4;

    input{
      padding: 10px 7.5vw 10px 20px;
      background-color: #f2f3f4;
      border: none;
      color: gray;
      font-family: 'Oswald', sans-serif;
      font-size: 17.5px;
      font-weight: 300;
      outline: none;
    }

    button{
      padding:  14px;
      background-color: #f2f3f4;
      border: none;
      .fa{
        font-size: 20px;
        color: #454a4c;
      }
    }
  }
}
