$color-orange: #ff8454;
$color-black: #454a4c;
$color-gray: #f2f3f4;

.header_row1{
  display: flex;
  flex-direction: row;

  .row1_column1{
    width: 50vw;
    margin-left: 13vw;

    img{
      height: 10vw;
      min-height: 50px;
      width: 10vw;
      min-width: 50px;
      min-height: 50px;
      padding: 0.5vw 0 0 0;
    }
  }
}

.row1_column2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50vw;
  margin-right: 13vw;

  .registerlogin{
    padding-bottom: 1.25vw;
    button{
      margin: 0;
      padding: 0.5vw;
      background-color: #fff;
      border: none;
      color: $color-orange;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 1.15vw;
      font-weight: 500;
      outline: none;
    }
  }

  .search{
    margin: 0 0 2vw 0;
    background-color: $color-gray;

    input{
      margin: 0;
      padding: 0.5vw 7.5vw 0.5vw 1vw;
      background-color: $color-gray;
      border: none;
      color: gray;
      font-family: 'Oswald', sans-serif;
      font-size: 1.5vw;
      font-weight: 300;
      outline: none;
    }

    button{
      padding:  0.75vw;
      background-color: $color-gray;
      border: none;
      .fa{
        font-size: 1.5vw;
        color: $color-black;
      }
    }
  }
}

@media only screen and (max-width: 500px){
  .header_row1{
    .row1_column1{
      width: 30vw;
      margin: 0 0 0 2vw;

      img{
        height: 23vw;
        width: 23vw;
      }
    }
  }
  .row1_column2{
    width: 70vw;
    margin: 0 2vw 0 0;
    .registerlogin{
      button{
        font-size: 5vw;
      }
    }
    .search{
      margin: 2.75vw 0 2vw 0;
      background-color: $color-gray;
      input{
        width: 35vw;
        padding: 0.5vw 2vw 2vw 1vw;
        font-size: 5vw;
      }
      button{
        padding: 1vw 4vw 2vw 2vw;
        .fa{
          font-size: 5vw;
        }
      }
    }
  }
}
