$color-blue: #80c3d2;
$color-orange: #ff8454;
$color-green: #88c87b;
$color-yellow: #f0cd3a;
$color-black: #454a4c;
$color-gray: #f2f3f4;

.header_row2{
  nav{
    padding: 0;
    margin: 0 auto;
    text-align: center;

    ul{
      width: 72.5vw;
      padding: 0;
      margin: 0 auto;
      font-family: 'Oswald', sans-serif;
      color: $color-black;
      font-size: 1.5vw;
      display: flex;
      flex-direction: row;
      list-style-position: inside;
      list-style: none;

      li{
        width: 15%;
        padding: 1.25vw 0;
        border-bottom: 0.05vw solid $color-gray;
        cursor: pointer;
      }

      .home, .news{
        position: relative;
        border-top: 0.3vw solid $color-blue;
      }
      .about, .blog{
        position: relative;
        border-top: 0.3vw solid $color-orange;
      }
      .staff, .gallery{
        position: relative;
        border-top: 0.3vw solid $color-yellow;
      }
      .services, .contact{
        position: relative;
        border-top: 0.3vw solid $color-green;
      }
    }
  }
}

@media only screen and (min-width: 501px){
  .header_row2{
    ul{
      li:hover{
        color: #fff;
      }
      .home, .news{
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
          &:before{
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $color-blue;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out;
          }
        &:hover:before{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        }
      }
      .about, .blog{
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
          &:before{
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $color-orange;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out;
          }
        &:hover:before{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        }
      }
      .staff, .gallery{
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
          &:before{
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $color-yellow;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out;
          }
        &:hover:before{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        }
      }
      .services, .contact{
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
          &:before{
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $color-green;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out;
          }
        &:hover:before{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        }
      }
    }
  }
}

@media only screen and (max-width: 500px){
  .header_row2{
    nav{
      ul{
        width: 100vw;
        color: #fff;
        font-size: 4vw;
        li{
          width: 20%;
        }
        .home, .about, .staff{
          display: none;
        }
        .news{
          border: none;
          background-color: #fff;
          color: $color-blue;
        }
        .blog{
          border: none;
          color: $color-orange;
          background-color: #fff;
        }
        .gallery{
          border: none;
          background-color: #fff;
          color: $color-yellow;
        }
        .services, .contact{
          border: none;
          color: $color-green;
          background-color: #fff;
        }
      }
    }
  }
}
