$color-blue: #80c3d2;
$color-orange: #ff8454;
$color-green: #88c87b;
$color-yellow: #f0cd3a;
$color-black: #454a4c;
$color-gray: #f2f3f4;

#services{
  height: 95vw;
  text-align: center;
  margin: 0;
  background-color: $color-gray;
  position: relative;

  h1{
    height: 75px;
    margin: 0;
    color: $color-black;
    font-family: 'Oswald';
    font-size: 50px;
    text-transform: uppercase;
  }
  h2{
    color: #ffff;
    font-family: 'Oswald';
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    margin: 1vw 0 0 0;
  }
  p{
    color: #ffff;
    font-family: 'Roboto';
    font-size: 1.25vw;
    padding: 0 2.5vw;
  }

  .background{
    height: 85vw;
    background-image: url("../img/services_background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .service1{
    position: absolute;
    left:5vw;
    top: 10vw;
    height: 14vw;
    width: 45vw;
    background-color: $color-yellow;
  }
  .service2{
    position: absolute;
    right: 5vw;
    top: 30vw;
    height: 14vw;
    width: 45vw;
    background-color: $color-green;
  }
  .service3{
    position: absolute;
    left: 5vw;
    top: 50vw;
    height: 14vw;
    width: 45vw;
    background-color: $color-orange;
  }
  .service4{
    position: absolute;
    right: 5vw;
    top: 70vw;
    height: 14vw;
    width: 45vw;
    background-color: $color-blue;
  }
}
