$color-blue: #80c3d2;
$color-orange: #ff8454;
$color-green: #88c87b;
$color-yellow: #f0cd3a;
$color-black: #454a4c;
$color-gray: #f2f3f4;

#services{
  height: 95vw;
  margin: 0;
  padding: 0 0 1.5vw 0;
  text-align: center;
  background-color: $color-gray;
  position: relative;

  h1{
    margin: 0 auto;
    padding: 0;
    color: $color-black;
    font-family: 'Oswald';
    font-size: 4vw;
    text-transform: uppercase;
  }
  h2{
    color: #ffff;
    font-family: 'Oswald';
    font-size: 3vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    margin: 1vw 0 0 0;
  }
  p{
    margin: 0;
    padding: 0 2vw;
    color: #ffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2vw;
  }

  .background{
    height: 85vw;
    background-image: url("../img/services_backgroundV.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .service1{
    position: absolute;
    left:10vw;
    top: 10vw;
    height: 16.75vw;
    width: 55vw;
    background-color: $color-yellow;
  }
  .service2{
    position: absolute;
    right: 10vw;
    top: 30vw;
    height: 16.75vw;
    width: 55vw;
    background-color: $color-green;
  }
  .service3{
    position: absolute;
    left: 10vw;
    top: 50vw;
    height: 16.75vw;
    width: 55vw;
    background-color: $color-orange;
  }
  .service4{
    position: absolute;
    right: 10vw;
    top: 70vw;
    height: 16.75vw;
    width: 55vw;
    background-color: $color-blue;
  }
}

@media only screen and (max-width: 500px){
  #services{
    height: 120vw;
    h2{
      font-size: 4vw;
    }
    p{
      font-size: 3vw;
    }
    .background{
      height: 115vw;
      background-image: url("../img/services_backgroundV.jpg");
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .service1{
      height: 23vw;
      width: 80vw;
    }
    .service2{
      height: 23vw;
      width: 80vw;
      left: 10vw;
      top: 37.5vw;
    }
    .service3{
      height: 23vw;
      width: 80vw;
      left: 10vw;
      top: 65vw;
    }
    .service4{
      height: 23vw;
      width: 80vw;
      left: 10vw;
      top: 92.5vw;
    }
  }
}
