$color-blue: #80c3d2;
$color-orange: #ff8454;
$color-green: #88c87b;
$color-yellow: #f0cd3a;
$color-black: #454a4c;
$color-gray: #f2f3f4;

#staff{
  height: 100vw;
  margin: 0;
  padding: 0 0 1.5vw 0;
  text-align: center;
  position: relative;

  h1{
    margin: 0 auto;
    padding: 0;
    color: $color-black;
    font-family: 'Oswald';
    font-size: 4vw;
    text-transform: uppercase;
  }

  .staff_header{
    position: relative;
    margin-top: 1vw;

    .staff_header_orange{
      margin: 0 auto;
      height: 30vw;
      width: 30vw;
      background-color: $color-orange;
      transform: rotate(80deg);
    }

    #staff_header{
      position: absolute;
      top: 4vw;
      left: 25vw;
      height: 25vw;
      width: 50vw;
    }
  }

  .profiles{
    position: relative;
    img{
      position: absolute;
      height: 10vw;
      width: 7.5vw;
    }

    p{
      margin: 0;
      padding: 0;
      opacity: 0;
      font-family: 'Roboto';
      font-size: 2vw;
      width: 45vw;
    }

    @keyframes attention{
      0% {width: 15vw; height: 15vw;}
      25% {width: 13.5vw; height: 13.5vw}
      50% {width: 15vw; height: 15vw;}
      52% {width: 15vw; height: 15vw;}
      54% {width: 15vw; height: 15vw;}
      56% {width: 15vw; height: 15vw;}
      58% {width: 15vw; height: 15vw;}
      60% {width: 15vw; height: 15vw;}
      62% {width: 15vw; height: 15vw;}
      64% {width: 15vw; height: 15vw;}
      66% {width: 15vw; height: 15vw;}
      68% {width: 15vw; height: 15vw;}
      70% {width: 15vw; height: 15vw;}
      72% {width: 15vw; height: 15vw;}
      74% {width: 15vw; height: 15vw;}
      76% {width: 15vw; height: 15vw;}
      78% {width: 15vw; height: 15vw;}
      80% {width: 15vw; height: 15vw;}
      82% {width: 15vw; height: 15vw;}
      84% {width: 15vw; height: 15vw;}
      86% {width: 15vw; height: 15vw;}
      88% {width: 15vw; height: 15vw;}
      90% {width: 15vw; height: 15vw;}
      92% {width: 15vw; height: 15vw;}
      94% {width: 15vw; height: 15vw;}
      96% {width: 15vw; height: 15vw;}
      98% {width: 15vw; height: 15vw;}
      100% {width: 15vw; height: 15vw;}
    }

    .background_yellow{
      height: 15vw;
      width: 15vw;
      z-index: 90;
      position: absolute;
      left: 17.5vw;
      top: 4vw;
      transition-duration: 0.5s;
      transform: rotate(-40deg);
      background: $color-yellow;
    }
    .attention1{
      animation-name: attention;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    .profile1{
      z-index: 10;
      display: none;
      position: absolute;
      top: 6.5vw;
      height: 10vw;
      width: 50vw;
      p{
        color: $color-yellow;
        margin: 0 0 0 42.5vw;
      }
    }

    .background_green{
      height: 15vw;
      width: 15vw;
      z-index: 90;
      position: absolute;
      left: 10vw;
      top: 22.5vw;
      transition-duration: 0.5s;
      transform: rotate(10deg);
      background: $color-green;
    }
    .attention2{
      animation-name: attention;
      animation-duration: 4s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite;
    }
    .profile2{
      z-index: 10;
      display: none;
      position: absolute;
      top: 25vw;
      height: 10vw;
      width: 50vw;
      p{
        color: $color-green;
        margin: 0 0 0 35vw;
      }
    }

    .background_blue{
      height: 15vw;
      width: 15vw;
      z-index: 90;
      position: absolute;
      left: 15vw;
      top: 41.5vw;
      transition-duration: 0.5s;
      transform: rotate(-30deg);
      background: $color-blue;
    }
    .attention3{
      animation-name: attention;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }
    .profile3{
      z-index: 10;
      display: none;
      position: absolute;
      top: 44vw;
      height: 12.5vw;
      width: 50vw;
      p{
        color: $color-blue;
        margin: 0 0 0 39.5vw;
      }
    }
  }
}

@media only screen and (max-width: 500px){
  #staff{
    height: 120vw;
    .profiles{
      img{
        height: 17.5vw;
        width: 14vw;
      }
      p{
        margin: 0;
        padding: 0;
        font-size: 3vw;
        width: 55vw;
      }
      @keyframes attention{
        0% {width: 20vw; height: 20vw;}
        25% {width: 17.5vw; height: 17.5vw}
        50% {width: 20vw; height: 20vw;}
        52% {width: 20vw; height: 20vw;}
        54% {width: 20vw; height: 20vw;}
        56% {width: 20vw; height: 20vw;}
        58% {width: 20vw; height: 20vw;}
        60% {width: 20vw; height: 20vw;}
        62% {width: 20vw; height: 20vw;}
        64% {width: 20vw; height: 20vw;}
        66% {width: 20vw; height: 20vw;}
        68% {width: 20vw; height: 20vw;}
        70% {width: 20vw; height: 20vw;}
        72% {width: 20vw; height: 20vw;}
        74% {width: 20vw; height: 20vw;}
        76% {width: 20vw; height: 20vw;}
        78% {width: 20vw; height: 20vw;}
        80% {width: 20vw; height: 20vw;}
        82% {width: 20vw; height: 20vw;}
        84% {width: 20vw; height: 20vw;}
        86% {width: 20vw; height: 20vw;}
        88% {width: 20vw; height: 20vw;}
        90% {width: 20vw; height: 20vw;}
        92% {width: 20vw; height: 20vw;}
        94% {width: 20vw; height: 20vw;}
        96% {width: 20vw; height: 20vw;}
        98% {width: 20vw; height: 20vw;}
        100% {width: 20vw; height: 20vw;}
      }
      .background_yellow{
        height: 20vw;
        width: 20vw;
        left: 10vw;
      }
      .profile1{
        top: 5.25vw;
      }
      .background_green{
        height: 20vw;
        width: 20vw;
        top: 30vw;
        left: 10vw;
      }
      .profile2{
        top: 31.25vw;
        p{
          margin: 0 0 0 42.5vw;
        }
      }
      .background_blue{
        height: 20vw;
        width: 20vw;
        top: 55vw;
        left: 10vw;
      }
      .profile3{
        top: 56.25vw;
        p{
          margin: -1.25vw 0 0 42.5vw;
        }
      }
    }
  }
}
